html {
  overflow: hidden;
  height: 100%;
  font-size: 16px;
}

body {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  background: rgb(0,39,115);
  background: linear-gradient(90deg, rgba(0,39,115,1) 0%, rgba(16,16,16,1) 10%, rgba(16,16,16,1) 90%, rgba(69,0,0,1) 100%);  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: auto;
  margin: auto;
  text-align: center;
}

h1, h2, h3, p {
  color: white;
  text-align: center;
}

ul {
  margin: auto;
  padding: 0;
  width: 90%;
}

li {
  background: rgb(43, 43, 43);
  background: linear-gradient(90deg, rgb(37, 37, 37) 0%, rgb(99, 99, 99) 100%);
  border-style: solid;
  border-color: rgb(144, 144, 144);
  border-radius: 6px;
  border-width: 1px;
  box-shadow: 0px 2px 12px 2px rgba(128, 127, 127, 0.7);
  color: rgb(172, 172, 172);
  list-style-type: none;
  margin: 2px;
  padding: 20px;
  padding-inline-start: 40px;
  position: relative; 
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px;
}

li i {
  margin-right: 4px; 
  vertical-align: middle; 
}

li .button-container {
  display: flex;
  gap: 10px; 
}

li button {
  background: #0000004b;
  border: 1px solid white;
  border-radius: 60px;
  color: white;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  padding: 6px 20px;
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
}

li button:active {
  background: #000000a5;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

#generator {
  background: #000;
  border: 4px solid #ffd900;
  border-radius: 60px;
  color: #ffd900;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: 30px;
  padding: 24px;
  transition: box-shadow 0.2s ease; 
}

#generator:active {
  box-shadow: 0 0 20px rgb(255, 217, 0);
  background: #ffd9003b;
}

.light-side {
  background: rgb(8,53,97);
  background: linear-gradient(90deg, rgba(8,53,97,1) 0%, rgba(0,212,255,1) 100%);
  border-style: solid;
  border-color: #0cf;
  border-width: 1px;
  box-shadow: 0px 2px 12px 2px rgba(0, 210, 255, 0.7);
  color: white; 
}

.dark-side {
  background: rgb(97,8,8);
  background: linear-gradient(90deg, rgba(97,8,8,1) 0%, rgba(255,0,0,1) 100%);
  border-style: solid;
  border-color: red;
  border-width: 1px;
  box-shadow: 0px 2px 12px 2px rgba(255, 0, 0, 0.7);
  color: white;
}

.side-icon {
  display: inline-flex; 
  align-items: center;
  gap: 4px; 
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content/Box */
.modal-content {
  background-color: #061525e7;
  margin: 2% auto; 
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffd900;
  text-decoration: none;
  cursor: pointer;
}

#strikeButtons {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
  margin: 6%;
}

#strikeButtons button {
  background: #00356b4b;
  border: 1px solid white;
  border-radius: 60px;
  color: white;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;  
  padding: 20px;
  padding-inline-start: 10%;
  font-size: 16px;
  width: 100%; 
  cursor: pointer;
  text-align: left;
}

#strikeButtons button:active {
  background: #000000a5;
  box-shadow: 0 0 20px rgb(0, 183, 255);
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {

  html {
    font-size: 18px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 14px;
  }

  .button-container {
    flex-direction: column;
    align-items: stretch;
    width: 30%;
  }

  .button-container button {
    display: block; 
    width: 100%;
    margin: 0; 
  
    line-height: normal; 
    box-sizing: border-box; 
  }

}
